/* Author: Griffin Mareske */

html,body {
    margin:0;
    width: 100%;
    height: 100%;
    background-color: rgb(252,158,79);
}
.section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: rgb(230,230,230);
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    overflow: hidden;
    height: 100%;
    min-height: 100%;
}
a {
    text-decoration: none;
}
h1 {
    font-family: 'Atomic Age', cursive;
    font-size: 2.75em;
    margin: 0.2em 0 0 0;
}
h3 {
    font-size: 1.3em;
    margin: 0;
}
.down-btn {
    color: inherit;
}

/* individual sections styles */
#big-header {

}
#about {
    color: rgb(2,1,34);
    background: rgb(230,230,230);
}
/* record player styling */
@keyframes spin {
    from {transform:rotate(0deg); }
    to   {transform:rotate(360deg); }
}
@keyframes needle-swing {
    from {transform:rotate(0deg);}
    to   {transform:rotate(-45deg);}
}
.spin {
    animation: spin 4s infinite linear;
}
.record-needle{
    position: relative;
    z-index: 100;
    width: 70%;
    background: #a3a2ae;
    height: 1em;
    transform: rotate(-45deg);
    transform-origin: 100% 50%;
    animation: needle-swing 2s linear;
    box-shadow: 1px 1px #212121;
}
.record-disc {
    width: 13em;
    height: 13em;
    background: linear-gradient(to right, #363636 0%, #666666 40%, #616161 60%, #1f1e1f 100%);
}
.record-disc, .record-disc div {
    border-radius: 50%;

}
.record-image {
    position: relative;
    top: 30%; left: 30%;
    width: 40%;
    height: 40%;
    background: rgb(234, 243, 174);
    /* border: 2px solid #212121; */
}
.record-pin {
    position: relative;
    top: 45%; left: 45%;
    width: 10%;
    height: 10%;
    background: rgb(230, 230, 230);
}

/* portait photo */
.portrait-photo {
    height: 12em;
    width: 10em;
    margin: 0 0 0.5em 0;
    border: 10px dotted rgb(230,230,230);
    border-radius: 50%;
    &:after {
	height: 30%;
	width: 30%;
	background: rgb(230,230,230);
    }

}
