/* Author: Griffin Mareske */

html,body {
    margin:0;
    width: 100%;
    height: 100%;
    background-color: rgb(252,158,79);
    scroll-behavior: smooth;
}
.section {
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: rgb(230,230,230);
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    /* overflow: hidden; */
    height: 100%;
    min-height: 100%;
}
.section::before,
.section::after {
    position: absolute;
    content: '';
    pointer-events: none;
}
.section::after {
    left: 50%;
    top: 90%;
    width: 15vh;
    height: 15vh;
    transform: translateX(-50%) rotate(45deg);
    -webkit-transform: translateX(-50%) rotate(45deg);
    /* box-shadow: 1px 0px rgb(2,1,34); */
}
a {
    text-decoration: none;
    color: rgb(255,111,65);
}
ul {
    list-style-type: none;
    padding: 0;
}
h1,h2 {
    font-family: 'Atomic Age', cursive;
    margin: 0 0 0.2em 0;
}
h1 {
    font-size: 2.75em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.3em;
    margin: 0;
}
.down-btn {
    color: inherit;
}

/* individual sections styles */
#big-header.section::after {
    z-index: -1;
    background: rgb(252,158,79);
}
#about {
    z-index: -2; /* underneath the triangle from previous div */
    color: rgb(2,1,34);
    background: rgb(230,230,230);
}
#about.section::after {
    z-index: -3; /* approaching terrible hack level */
    background: rgb(230,230,230);
}
#projects {
    z-index: -4;
    color: rgb(2,1,34);
    background: rgb(242,243,174);
}
#projects.section::after {
    z-index: -5; /* approaching terrible hack level */
    background: rgb(242,243,174);
}
#timeline {
    z-index: -6;
    color: rgb(2,1,34);
    background: rgb(237,211,130);
}
#timeline.section::after {
    z-index: -7;
    background: rgb(237,211,130);
}
#contact.section::after {
    display: none;
}
/* record player styling */
@keyframes spin {
    from {transform:rotate(0deg); }
    to   {transform:rotate(360deg); }
}
@keyframes needle-swing {
    from {transform:rotate(0deg);}
    to   {transform:rotate(-45deg);}
}
.spin {
    animation: spin 4s infinite linear;
}
.record-needle{
    position: relative;
    z-index: 100;
    width: 70%;
    background: #a3a2ae;
    height: 1em;
    transform: rotate(-45deg);
    transform-origin: 100% 50%;
    animation: needle-swing 2s linear;
    box-shadow: 1px 1px #212121;
}
.record-disc {
    position: relative;
    z-index: 3;
    width: 13em;
    height: 13em;
    background: linear-gradient(to right, #363636 0%, #666666 40%, #616161 60%, #1f1e1f 100%);
}
.record-disc, .record-disc div {
    border-radius: 50%;

}
.record-image {
    position: relative;
    top: 30%; left: 30%;
    width: 40%;
    height: 40%;
    background: rgb(234, 243, 174);
    /* border: 2px solid #212121; */
}
.record-pin {
    position: relative;
    top: 45%; left: 45%;
    width: 10%;
    height: 10%;
    background: rgb(230, 230, 230);
}

/* portait photo */
.portrait-photo {
    height: 12em;
    width: 10em;
    margin: 0 0 0.5em 0;
    border: 10px dotted rgb(230,230,230);
    border-radius: 50%;
    &:after {
	height: 30%;
	width: 30%;
	background: rgb(230,230,230);
    }
}
.about-text {
    max-width: 90%;
}
/* projects page */
.projects-section {
    margin: 1vh 0 1vh 0;
}
.projects-list {
    margin: 0 1vw 0 1vw;
}
.projects-list li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 1vh 0 0 0;
}
.projects-list li:last-child {
    justify-content: center;
}
.projects-list a {
    margin: 0 0 0 0.2em;
}
/* personal timeline */
.timeline-wrapper>li {
    margin: 1vw;
}
.timeline-block>* {
    margin: 0 1vw 0 1vw;
}
.timeline-date {

}
.timeline-title {

}
.timeline-content {

}
/* Social media links and stuff */
#contact a {
    color: inherit
}
.contact-list {
    padding: 0 2vw 0 2vw;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.contact-list a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vw;
    height: 10vh;
    width: 10vh;
    border: 2px solid rgb(230,230,230);
    border-radius: 10px;
}

/* Media Queries */
@media (min-width: 800px) {
    .section {
	font-size: 2em;
    }
}
